.h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #0a66c2; 
    color: #fff;        
    text-align: center;
    border-radius: 6px;
    margin: 16px;
   
    padding: 16px 16px 32px 16px; 
}
.cartao{
font-family:system-ui,sans-serif;
background: #ffffff;
border-left: 4px solid #0a66c2;
padding: 12px;
border-radius: 6px;
margin-bottom: 12px;
}

#critico{
    border-color:#e63946;
    background: #ffffff;
}
